$text-size: 12pt
$text-color: #263034
$integer-color: #b7624a
$string-color: #377f88

.keyValueContainer
  font-size: $text-size
  color: $text-color
  margin-left: 1em

  .value
    margin-right: 1em

    &.integer
      color: $integer-color

    &.string
      color: $string-color